@media screen and (max-width: 600px) {
    body h2 {
        font-size: 1.5rem;
        background-color: black;
    }

    label, input, select, button {
        width: 100%;
        margin: 5px 0;
    }

    form {
        flex-direction: column;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(173, 226, 223);
}

body h2{
    padding: 15px;
    text-align: center;
}

label{
    width: 20%;
    height: 40px;
    font-size: 1rem;
    align-content: center;
}

form{
    padding: 10px;
    display: flex;
}

input{
    width: auto;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid transparent;
    border-radius: 6px;
}

#first, #last, #city, #region,
#postal, #country{
    width: 25%;
}

#address1, #address2, #date, 
#number{
    width: 58%;
}

#email p{
    font-size: 8px;
}

#email1{
    width: 58%;
}

.option{
    width: 28.5%;
    margin-left: 11px;
    border: 2px solid white;
    border-collapse: collapse;
    border-radius: 6px;
    background-color: white;
    color: rgba(128, 128, 128, 0.782);
}

select{
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 2px solid white;
    background-color: white;
    color: rgba(128, 128, 128, 0.782);
}

option{
    color: rgba(128, 128, 128, 0.782);
}

button{
    width: 90%;
    height: 30px;
    text-align: center;
    margin: 50px;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: #007bff;
}

button:hover{
    background-color: #0056b3;
    cursor: pointer;
}
